.homeBeforeLogin{
    background-color: $navy;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    
    .heroSection{
        color: $color-white;
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center; 
        width: 100%; 
        min-height: 80vh;
        overflow: hidden;
        background-size: cover; 
        background-position: center; 
        background-repeat: no-repeat;
        transition: opacity 1s ease-in-out;
            .heroHeadline{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                .titleHeadline{
                    font-size: 1.5rem;
                    font-weight: bold;
                    .textGradientBlue {
                        background: linear-gradient(to right, #06b, #f80);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                    .textGradientPink {
                        background: linear-gradient(to right, #00c6ff, #ff3bac);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                    
                    
                }
                .textDescription{
                    margin: 20px 0;
                    font-weight: 800;
                    font-size: .8rem;
                    color: $color-white-fade;
                }
                .btnPrimary{
                    background-color: $button-primary;
                    color: $color-white;
                    padding: 10px 20px;
                    border: none;
                    border-radius: 5px;
                    text-transform: uppercase;
                    margin: 1rem;
                    cursor: pointer;
                    &:hover {
                        background-color: darken($button-primary, 10%);
                    }
                }
            }
    }
    .topEventsSection{
        margin-top: 5rem;
        padding: 20px;
        .topEventsHeader{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .browseAllButton{
                background-color: #007bff; /* Example color */
                color: white;
                border: none;
                padding: 10px 20px;
                border-radius: 5px;
                cursor: pointer;
            }
        }
        .cardsContainer{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin-top: 20px;
            .eventCard{
                width: calc(33% - 40px); 
                margin: 20px;
                box-shadow: 0 2px 5px rgba(0,0,0,0.2);
                border-radius: 10px; 
                overflow: hidden; 
                background: $container-bg;
                display: flex;
                flex-direction: column;
                align-items: center;
                @media (max-width: 768px) {
                    .eventCard {
                      width: calc(50% - 40px);
                    }
                }
                @media (max-width: 480px) {
                    .eventCard {
                      width: calc(100% - 40px);
                    }
                }
                .cardImage{
                    width: 100%; 
                    height: 400px; 
                    object-fit: cover;
                }
                .eventCategory, .eventDate {
                    margin-top: 10px;
                    font-size: 0.9rem;
                    color: #c0c0c0;
                    margin-bottom: 1rem;
                }
            }
        }
    }
    .reviewSection{
        background-color: lighten($navy, 5%);
        padding: 20px;
        margin-top: 2rem;
        .reviewCard{
            background-color: $navy;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column; /* Stack content vertically */
            align-items: center; /* Aligns content in the center */
            padding: 20px;
            margin: auto; /* Centers the card in the section */
            max-width: 800px; /* Maximum width of the card */
            .cardContent{
                width: 100%;
                .userInfo {
                    display: flex;
                    align-items: center;
                    gap: 15px; /* Adds space between image and user details */
                    .peopleReview {
                        width: 80px; /* Adjust image size */
                        height: 80px; /* Adjust image size */
                        border-radius: 50%;
                        object-fit: cover;
                    }
                    .userName, .userActivity {
                        margin: 5px 0;
                    }
                    .userRating{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                    }
                }
                .reviewText{
                    .reviewTitle {
                        font-size: 1.2rem; /* Larger font size for titles */
                    }
                      
                    .reviewDescription {
                        color: $color-white-fade;
                        font-size: 0.95rem; /* Smaller font size for descriptions */
                        margin-top: 10px;
                    }
                }
                
            }
        }
    }
    .statistics {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 2rem 0;
        padding: 1rem;
        background-color: lighten($navy, 5%); // A slightly lighter navy shade for contrast
        border-radius: 10px; // Consistent with the card styling
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Subtle shadow for depth
      
        .statistic {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 1rem;
          margin: 1rem;
          background-color: $navy; // Same as the page background for consistency
          border-radius: 10px; // Rounded corners
          width: 200px; // Fixed width, adjust as needed
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3); // Inner shadow for an inset effect
      
          .statNumber {
            font-size: 2rem; // Larger font size for emphasis
            font-weight: bold;
            color: $color-white;
            margin-bottom: 0.5rem;
          }
      
          .statLabel {
            font-size: 0.9rem;
            color: $color-white-fade;
            text-transform: uppercase; // Stylistic choice for labels
          }
        }
      }
      
      // Responsive design for the statistics section
      @media (max-width: 768px) {
        .statistics {
          flex-direction: row;
          justify-content: space-between;
          .statistic {
            // Adjust width for smaller screens if necessary
            width: 30%;
          }
        }
      }
      
      @media (max-width: 480px) {
        .statistics {
          flex-direction: column;
          align-items: center;
          .statistic {
            width: 80%; // Full width statistics on small screens
          }
        }
      }
      .footer {
        width: 100%;
        background-color: lighten($navy, 5%);
        color: #f0f0f0;
        padding: 2rem 0;
        box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
        .footerContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 1200px;
            margin: auto;
            padding: 0 1rem;
            .container{
                display: flex;
                justify-content: space-between;
                .footerLogoContainer{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .footerLogo {
                        margin-bottom: 1rem;
                        img {
                            width: 150px; 
                            height: auto; 
                        }
                    }
            
                    .footerDescription {
                        text-align: center;
                        margin-bottom: 1rem;
                        font-size: 0.9rem;
                        max-width: 600px;
                    }
                }
                .footerLinksContainer {
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
        
                    .footerLinks {
                        margin: 1rem;
                        text-align: center;
        
                        .footerLinksTitle {
                            font-size: 1.2rem;
                            margin-bottom: 0.5rem;
                            color: #a8d8ff;
                        }
        
                        .footerLinkItem {
                            font-size: 0.9rem;
                            margin: 0.25rem 0;
                            cursor: pointer;
                            transition: color 0.3s ease;
        
                            &:hover {
                                color: #ffffff;
                            }
                        }
                    }
                }
            }
           
    
            .footerRights {
                margin-top: 1rem;
                font-size: 0.8rem;
            }
        }
    }
    
    @media (max-width: 768px) {
        .footer .footerContainer .footerLinksContainer {
            flex-direction: column;
            align-items: center;
        }
    }
    
    @media (max-width: 480px) {
        .footer .footerContainer {
            padding: 0 0.5rem;
        }
    }
    
}