.register{
    background-color: $navy;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding-top: 6rem;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    .containerRegister{
        width: 90%;
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        background-color: #222;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-bottom: 30px;
        overflow-x: hidden;
        .tabs {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
            .tab {
                flex-grow: 1;
                text-align: center;
                padding: 0.5rem 0;
                cursor: pointer;
                transition: background-color 0.3s;
                &:hover {
                    background-color: lighten($navy, 10%); // Lightens tab on hover
                    border-radius: 10px;
                }
            }
            .active{
                border-bottom: 2px solid #00aaff;
            }
        }
        
    }
}

@media (max-width: 768px) {
    .register {
        padding: 10px;
    }

    
}

@media (max-width: 480px) {
    .register {
        padding: 1rem;
    }
  
    .containerRegister {
      width: 90%;
      padding: 1rem;
      .tabs {
        display: flex;
        justify-content: space-around; 
        margin-bottom: 20px;
      }
  
      .tab {
        padding: 5px;
        font-size: 14px; 
      }
    }
  
    .registerForm {
      label {
        input, button {
            padding: 0.5rem; 
        }
      }
    }
  }