.imagePreview {
    @include box(100%);
    border-radius: 0.5rem;
    object-fit: cover;
}

.dropContainer {
    position: relative;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20rem;
    border-radius: 10px;
    border: 2px dashed #555;
    color: #444;
    cursor: pointer;
    margin-bottom: 2rem;
    transition:
      background 0.2s ease-in-out,
      border 0.2s ease-in-out;
  
    &:hover {
      background: linear-gradient(to bottom, white, black);
      border-color: gray;
      box-shadow: 0 0 10px 1px black;
    }
  
    &:hover .dropTitle {
      color: black;
    }
    .dropTitle {
      color: black;
      font-size: 1.25rem;
      font-weight: bold;
      text-align: center;
      transition: color 0.2s ease-in-out;
    }
}