$background-color: #151422;
$button-color: #2978b5; 
$text-color: #ffffff; 
$hover-color: darken($button-color, 10%);

.containerJoinStreaming{
    width: 50%;
    background-color: lighten($background-color, 5%);
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    @media (max-width: 768px) {
      width: 70%;
    }
    @media (max-width: 480px) {
      width: 90%;
      flex-direction: column;
      margin-top: 0;
    }
    label {
      color: $text-color;
      font-size: 16px;
      margin-bottom: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 90%;
  
      @media (max-width: 480px) {
        width: 100%;
      }
    }
  
    select {
      width: 100%;
      padding: 12px 15px;
      margin-top: 5px;
      border: 1px solid $button-color;
      border-radius: 8px;
      background-color: $navy;
      color: lighten($text-color, 40%);
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
  
      option {
        background-color: lighten($navy, 10%);
        color: $text-color;
      }
  
      &:focus {
        outline: none;
        box-shadow: 0 0 0 2px lighten($button-color, 20%);
      }
    }
    .imageLiveStreaming {
      width: 80%; 
      border-radius: 8px; 
      margin-bottom: 20px;
      @media (max-width: 768px) {
        width: 100%;
      } 
  }

  .message {
      font-size: 18px; 
      margin-bottom: 20px; 
      text-align: center; 
      color: $text-color;
  }
    button{
      width: 100%;
      padding: 15px 20px;
      border: none;
      border-radius: 8px;
      color: $text-color;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: $hover-color;
      }
    }
    .buttonJoinStreaming, .buttonCreateMeeting{
      background-color: $button-color;
      flex-basis: 48%;
      @media (max-width: 480px) {
        width: 100%;
        margin-bottom: 10px;
      }
    }
    input[type="text"] {
      width: 90%; 
      padding: 15px;
      margin-bottom: 20px;
      border: 1px solid $button-color;
      border-radius: 8px;
      color: $text-color;
      background-color: transparent;
      @media (max-width: 480px) {
        width: 90%;
      }
      &::placeholder {
        color: lighten($text-color, 20%);
      }
    }
    
    
}