.videoGrid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    width: 100%;
    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
    .videoWrapper {
      position: relative;
      width: 100%;
      padding-top: 56.25%; // Aspect ratio for widescreen videos
      .reactPlayer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }