.topEventsSection{
    margin-top: 5rem;
    padding: 20px;
    .topEventsHeader{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .browseAllButton{
            background-color: #007bff; 
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
        }
    }
    .cardsContainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 20px;
        @media (max-width: 480px) {
            flex-direction: column;
        }
        .eventCard{
            width: calc(33% - 40px); 
            margin: 20px;
            box-shadow: 0 2px 5px rgba(0,0,0,0.2);
            border-radius: 10px; 
            overflow: hidden; 
            background: $container-bg;
            display: flex;
            flex-direction: column;
            align-items: center;
            @media (max-width: 768px) {
                width: calc(50% - 40px);
            }
            @media (max-width: 480px) {
                width: 100%;
                margin: 10px 0;
            }
            .cardImage{
                width: 100%; 
                height: 200px; 
                object-fit: cover;
            }
            .eventTitle{
                margin: .2rem .5rem;
                font-size: 1rem;
                font-weight: bold;
            }
            .eventCategory, .eventDate {
                margin-top: 10px;
                font-size: 0.9rem;
                color: #c0c0c0;
                margin-bottom: 1rem;
            }
        }
    }
}