$buttonColor: #2294ff;
$buttonHoverColor: darken($buttonColor, 10%);
$textColor: #ffffff;
$buttonColor: #ff5722;
$buttonHoverColor: darken($buttonColor, 10%);

.ktpForm{
    background-color: $navy;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    .containerForm{
        margin-top: 1rem;
        background-color: $third-color;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        width: 80%;
        padding: 20px;
        max-width: 500px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        @media (max-width: 768px) {
            .containerForm {
              width: 90%;
              gap: 1rem;
            }
        }
        @media (max-width: 480px) {
            margin-top: 0; // Atur margin atas menjadi 0 untuk tampilan mobile
            width: 95%;
            padding: 10px;
            gap: 0.5rem;
            .form input {
                padding: 10px; 
            }
        }
        .title{
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 1rem;
        }
        .imgPreviewContainer{
            position: relative;
            width: 100%;
            max-width: 500px;
            margin-bottom: 1rem;
            label {
                display: flex;
                justify-content: center;
                position: relative;
                width: 100%;
                cursor: pointer;
                .imgPreview{
                    width: 100%;
                    height: auto;
                    margin-bottom: 1rem;
                    cursor: pointer;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    transition: transform 0.3s ease;
                    &:hover {
                        transform: scale(1.05);
                    }
                }
                .addIcon {
                    display: flex;
                    position: absolute;
                    bottom: -10px; // Posisi di bawah gambar
                    right: -10px; // Posisi di kanan gambar
                    background: rgba(255, 255, 255, 0.7);;
                    border-radius: 50%;
                    padding: 10px;
                    align-items: center;
                    justify-content: center;
                    color: #ff5722;
                    font-size: 24px; // Atau 'large' jika menggunakan ikon dari Material-UI
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); // Bayangan ringan untuk ikon
                    cursor: pointer;
                    border: 2px solid $navy;
                  }
            }
        }
        
        button{
            padding: 10px 20px;
            width: auto;
            color: $textColor;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            background-color: $buttonColor;
            transition: background-color 0.3s;
            &:hover {
                background-color: $buttonHoverColor;
            }
            &:disabled {
                background-color: lighten($buttonColor, 10%);
            }
        }
        .loadingContainer{
            display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
        }
        .form{
            width: 100%;
            display: flex;
            flex-direction: column;
            input{
                background-color: $backgroundInput;
                border: none;
                margin: 0.5rem 0;
            }
        }
    }
}


