$color-white: #fff;
$color-white-fade: rgba(255, 255, 255, 0.6);
$color-dark-blue: #001a41;
$color-light-blue: #e8eef1;
// $navy: #151A26;
$navy: #151422;
$second-color: #1B1827;
$third-color: #1F1D2B;
$line: #25242F;
